<section class="header-wrapper">
    <div class="social-container">
        <ul class="list social-list">
            <li class="social-item">
                <a target="_blank" href="" class="social-link">
                    <span class="social-icon" data-social-icon="facebook"></span>
                </a>
            </li>
            <li class="social-item">
                <a target="_blank" href="" class="social-link">
                    <span class="social-icon" data-social-icon="instagram"></span>
                </a>
            </li>
            <li class="social-item">
                <a target="_blank" href="" class="social-link">
                    <span class="social-icon" data-social-icon="youtube"></span>
                </a>
            </li>
        </ul>
    </div>
    <img src="images/logoBranco.png" alt="logotipo heber campos oficial" title="Heber Campos Oficial, logotipo, nome escrito em fonte thin" class="header-logo">
    <div class="navbar-wrapper" ng-include="'views/components/navbar.html'"></div>
</section>