#about {
    background-color: #000000;
    padding: 0 0 2em 0;
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        @media screen and(min-width: 1025px) {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .about-image {
            max-width: 50em;
            @media screen and(max-width: 1024px) {
                margin-bottom: 3em;
                max-width: 100%;
            }
            width: auto;
        }
        .about-paragraph {
            color: #ffffff;
            font-family: athiti;
            font-size: 1.8em;
            line-height: 1.8;
            padding: 0 1.25em;
            text-align: justify;
            @media screen and(min-width: 1025px) {
                padding: 0 3em;
            }
        }
    }
}