@font-face {
    font-family: athiti-lg;
    src: url("../fonts/Athiti/Athiti-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: athiti;
    src: url("../fonts/Athiti/Athiti-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: athiti-md;
    src: url("../fonts/Athiti/Athiti-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}